<%- include ("partials/head") -%>

<div class="main">
    <div class="calculator-grid">
        <div class="output">
            <div data-previous class="previous-operand"></div>
            <div data-current class="current-operand"></div>
        </div>
        <button id="AC" data-all-clear class="span-two">AC</button>
        <button id="DEL" data-delete>DEL</button>
        <button id="OP-111" data-operation>รท</button>
        <button id="NB-7" data-number>7</button>
        <button id="NB-8" data-number>8</button>
        <button id="NB-9" data-number>9</button>
        <button id="OP-106" data-operation>*</button>
        <button id="NB-4" data-number>4</button>
        <button id="NB-5" data-number>5</button>
        <button id="NB-6" data-number>6</button>
        <button id="OP-107" data-operation>+</button>
        <button id="NB-1" data-number>1</button>
        <button id="NB-2" data-number>2</button>
        <button id="NB-3" data-number>3</button>
        <button id="OP-109" data-operation>-</button>
        <button id="DOT" data-number>.</button>
        <button id="NB-0" data-number>0</button>
        <button id="equals" data-equals class="span-two">=</button>
    </div>
</div>
      
<%- include ("partials/footer") -%>